html {
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}
.fa-search {
  color: #9ea1a6;
}
.fa-pencil {
  color: #002c3e;
}
.fa-trash-o {
  color: red;
}
.btn-outline-add {
  color: #002c3e;
  border-color: #002c3e;
}
.btn-outline-add:hover {
  color: white;
  background-color: #002c3e;
}
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}
.btn-no-border:focus {
  outline: 0 !important;
}
.f-right {
  margin-left: 65%;
}
.cursor-pointer {
  cursor: pointer;
}
.req::after {
  color: red;
  content: "*";
  position: absolute;
  margin-left: 10px;
  font-size: 20px;
}

.line-search-bar {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #9ea1a6;
  width: 230px;
}
.bg-gray {
  background-color: #e1e1e1;
}
.text-big {
  font-size: 1.2rem;
  color: #002c3e;
}

.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 95px;
  background: #e1e1e1;
  transition: all 400ms;
}

.sidebar a {
  font-size: 1.2rem;
  color: #002c3e;
  display: block;
  font-family: "Muli";
  transition: all 400ms;
}

.sidebar a:hover {
  font-size: 1.3rem;
  color: #539eb8;
}

.element-container {
  width: 100%;
  height: 80px;
  position: relative;
  margin-top: 1rem;
}

.element {
  position: absolute;
  margin-top: 1.5%;
}
.Page-active {
  color: #002c3e !important;
  border-color: #002c3e !important;
}
.Page-active:hover {
  color: white !important;
  background-color: #002c3e !important;
}
.page-link {
  color: #002c3e;
}

.SideBar-active {
  font-size: 1.3rem;
  position: relative;
  background: rgba(196, 196, 196, 0.7);
}

.SideBar-active::after {
  content: "";
  border: solid #002c3e;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 37px 5px 10px 200px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.ml-6 {
  margin-left: 4rem;
}

.main-content {
  margin-left: 245px;
  padding: 0px 10px;
  margin-top: 6rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
  }

  .element-container {
    width: 100%;
    height: 50px;

    margin-top: 1rem;
  }
  .sidebar {
    width: 80px;
  }
  .SideBar-active {
    height: 70px;
  }
  .SideBar-active::after {
    content: "";
    display: none;
  }
  .option {
    display: none;
  }
  .main-content {
    margin-left: 90px;
  }
}
