<template>
  <div id="app">
    <NavBar />
    <SideBar />

    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </div>
</template>
<script>
import NavBar from "./components/include/Navbar";
import SideBar from "./components/include/Sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
};
</script>
<style>
@import "./assets/css/style.css";
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateX(2rem);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}
</style>
