.line-search-bar {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #9ea1a6;
  width: 230px;
}
.text-large {
  font-size: 150%;
}
.fa-search {
  color: #9ea1a6;
}
.fa-linkedin,
.fa-facebook-square,
.fa-twitter-square,
.fa-instagram-square {
  color: #ed6768;
}
.btn-pink,
.btn-p {
  color: #ffffff !important;
  background-color: #ed6768 !important;
}

.btn-pink:hover {
  color: #ffffff !important;
  background-color: #d83132 !important;
}
.font-pink {
  color: #ed6768 !important;
}

.font-pink:hover {
  color: #d83132 !important;
}

.bg-pink {
  background-color: #f8f3f2;
}

.round-pink {
  border-radius: 25px;
  background-color: white;
  border: 2px solid #ed6768;
}
.circle-pink {
  border-radius: 50px;
  background-color: white;
  border: 2px solid #ed6768;
  position: absolute;
  top: -10%;
  left: 43%;
}

.carousel-background {
  min-height: 100px;
  display: flex;
  align-items: center;
}
.wrapper {
  width: 100%;
}
.carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0px 30px;
  background-color: #ffffff;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}
.owl-carousel .next-slide {
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}
.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}
.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #d83132 !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover {
  background: #ed6768 !important;
}

.border-3 {
  border-style: solid;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #ed6768 !important;
}

.multi-bg-example {
  background-image: url("../img/undraw_blooming_jtv6.png"),
    url("../img/undraw_fall_thyk.png");

  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: left center, right center;
}
.letter-spacing {
  letter-spacing: 50px;
}

.rotateImg {
  transform: rotate(45deg);
}
