<template>
  <div>
    <div class="main-content">
      <div class="container pt-4">
        <div class="row">
          <div class="col-md-12">
            <b-button
              href=""
              class="btn btn-outline-add mt-2"
              @click="FormReset()"
              v-b-modal.AddBook
              ><i class="fa fa-plus-circle mr-2"></i>Add Books</b-button
            >
            <div class="float-right">
              <input
                placeholder="Search Item here"
                type="text"
                class="line-search-bar"
                name="search"
                id="search"
                v-model="Search"
              />
              <i class="fa fa-search fa-lg pl-2" aria-hidden="true"></i>
            </div>
            <div>
              <table class="table table-hover table-bordered shadow mt-5">
                <thead class="table-active">
                  <tr>
                    <th><i class="fa fa-fw fa-sort mr-2"></i>Name</th>
                    <th><i class="fa fa-fw fa-sort mr-2"></i>Author</th>
                    <th>
                      <i class="fa fa-fw fa-sort mr-2"></i>Copies Available
                    </th>
                    <th><i class="fa fa-fw fa-sort mr-2"></i>Category</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <transition-group
                  tag="tbody"
                  name="BookTable"
                  v-if="!LoadingStatus"
                >
                  <tr v-for="Book in BookModelFilter" :key="Book.id">
                    <td v-html="highlightMatches(Book.name)">
                      {{ Book.name }}
                    </td>
                    <td v-html="highlightMatches(Book.author)">
                      {{ Book.author }}
                    </td>
                    <td>
                      {{ Book.copies }}
                    </td>
                    <td v-html="highlightMatches(Book.category.category)">
                      {{ Book.category.category }}
                    </td>
                    <td class="text-center">
                      <button class="btn-no-border">
                        <img
                          src="@/assets/img/icons8-edit-24.png"
                          alt=""
                          title="Update this Book"
                          height="20"
                          class="cursor-pointer mr-3"
                          @click.prevent="
                            FormReset();
                            BookTobeUpdated = Book;
                          "
                          v-b-modal.UpdateBook
                        />
                      </button>
                      <b-button class="btn-no-border">
                        <img
                          src="@/assets/img/icons8-trash-can-24.png"
                          alt=""
                          title="Delete this Book"
                          height="20"
                          class="cursor-pointer mr-3"
                          @click.prevent="Selected = Book"
                          v-b-modal.DeleteModal
                        />
                      </b-button>
                      <button class="btn-no-border">
                        <img
                          src="@/assets/img/icons8-borrow-book-24.png"
                          alt=""
                          title="Borrow this Book"
                          height="20"
                          class="cursor-pointer mr-3"
                          v-b-modal.BorrowBook
                          @click.prevent="
                            FormReset();
                            BorrowReturnForm.book_id = Book.id;
                            Selected = Book;
                            BorrowerPatrons(AllPatrons);
                          "
                        />
                      </button>
                      <button class="btn-no-border">
                        <img
                          src="@/assets/img/icons8-return-book-24.png"
                          alt=""
                          title="Return this Book"
                          height="20"
                          class="cursor-pointer mr-3"
                          @click="
                            FormReset();
                            BorrowReturnForm.book_id = Book.id;
                            Selected = Book;
                            BorrowerPatrons(AllBorrowedBook);
                          "
                          v-b-modal.ReturnBook
                        />
                      </button>
                    </td>
                  </tr>
                </transition-group>
              </table>

              <div class="text-center mb-2">
                <b-spinner v-if="LoadingStatus"> </b-spinner>
              </div>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item mr-1">
                <a class="page-link rounded Page-active" href="#">1</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">6</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">7</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">8</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">9</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">10</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">11</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">12</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">13</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">14</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Add Modal -->
        <b-modal
          id="AddBook"
          title="Add Books"
          centered
          ref="modal"
          modal-header
        >
          <form>
            <b-form-group>
              <label for="BookName" class="req">Name</label>
              <b-form-input
                id="BookName"
                required
                v-model="BookForm.name"
                placeholder="Input Book Name "
                @blur="$v.BookForm.name.$touch()"
              ></b-form-input>
              <p
                class="errorMessage"
                v-if="!$v.BookForm.name.uniqueBookName"
                hidden
              >
                Book Name already taken
              </p>

              <label for="BookAuthor" class="mt-3 req">Author</label>
              <b-form-input
                id="BookAuthor"
                required
                v-model="BookForm.author"
                placeholder="Input Book Author "
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Copies</label>
              <b-form-input
                id="BookCopies"
                type="number"
                required
                v-model="BookForm.copies"
                placeholder="Input Number of Copies"
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Category</label>
              <b-form-select v-model="BookForm.category_id">
                <b-form-select-option
                  v-for="Category in AllCategories"
                  :key="Category.id"
                  :value="Category.id"
                  >{{ Category.category }}.</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="AddBook"
              >
                <i class="fa fa-plus-circle mr-2"></i>Add Patron
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- Update Modal -->
        <b-modal id="UpdateBook" title="Update Books" centered ref="modal">
          <form>
            <b-form-group>
              <label for="BookName" class="req">Name</label>
              <b-form-input
                id="BookName"
                required
                v-model="BookTobeUpdated.name"
                placeholder="Input Book Name "
              ></b-form-input>

              <label for="BookAuthor" class="mt-3 req">Author</label>
              <b-form-input
                id="BookAuthor"
                required
                v-model="BookTobeUpdated.author"
                placeholder="Input Book Author "
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Copies</label>
              <b-form-input
                id="BookCopies"
                type="number"
                required
                v-model="BookTobeUpdated.copies"
                placeholder="Input Number of Copies"
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Category</label>
              <b-form-select v-model="BookTobeUpdated.category_id">
                <b-form-select-option
                  v-for="Category in AllCategories"
                  :key="Category.id"
                  :value="Category.id"
                  >{{ Category.category }}.</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="UpdateBook()"
              >
                <i class="fa fa-plus-circle mr-2"></i>Update Book
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal">
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn secondary mr-2"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                block
                @click.prevent="RemoveBook()"
              >
                Yes
              </button>
            </div>
          </template>
        </b-modal>

        <!-- BorrowModal -->
        <b-modal
          id="BorrowBook"
          title="Borrow Books"
          centered
          ref="modal"
          modal-header
        >
          <form>
            <b-form-group>
              <label for="BookName" class="mt-3 req">Book Name</label>
              <b-form-input
                id="BookName"
                required
                v-model="Selected.name"
                disabled
                placeholder="Input Book Name "
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Copies</label>
              <b-form-input
                id="BookCopies"
                type="number"
                required
                v-model="BorrowReturnForm.copies"
                placeholder="Input Number of Copies"
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Patron Name</label>
              <v-select
                title="Patron Name"
                :options="PatronInfo"
                :reduce="(PatronInfo) => PatronInfo.id"
                :label="PatronInfo.label"
                v-model="BorrowReturnForm.patron_id"
              />
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="AddBorrowedBook"
              >
                <i class="fa fa-plus-circle mr-2"></i>Borrow Book
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- ReturnModal -->
        <b-modal
          id="ReturnBook"
          title="Return Books"
          centered
          ref="modal"
          modal-header
        >
          <form>
            <b-form-group>
              <label for="BookName" class="mt-3 req">Book Name</label>
              <b-form-input
                id="BookName"
                required
                v-model="Selected.name"
                disabled
                placeholder="Input Book Name "
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Copies</label>
              <b-form-input
                id="BookCopies"
                type="number"
                required
                v-model="BorrowReturnForm.copies"
                placeholder="Input Number of Copies"
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Patron Name</label>
              <v-select
                title="Patron Name"
                :options="PatronInfo"
                :reduce="(PatronInfo) => PatronInfo.id"
                :label="PatronInfo.label"
                v-model="BorrowReturnForm.patron_id"
              />
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="ReturnedBook"
              >
                <i class="fa fa-plus-circle mr-2"></i>Borrow Book
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import { formFieldMixin } from "../mixins/formFieldMixin";
import { ValidationMessageMixin } from "../mixins/ValidationMessageMixin";
import { mapGetters, mapActions } from "vuex";
import BookBaseURI from "../config/Book";
import {
  required,
  minLength,
  maxLength,
  minValue,
  numeric,
} from "vuelidate/lib/validators";
export default {
  mixins: [formFieldMixin, ValidationMessageMixin],
  data() {
    return {
      BookForm: {
        name: "",
        author: "",
        copies: 0,
        category_id: "",
      },
      BookTobeUpdated: {
        name: "",
        author: "",
        copies: 0,
        category_id: "",
      },
      BorrowReturnForm: {
        patron_id: "",
        copies: 0,
        book_id: "",
      },
      PatronInfo: [],
      errorMessage: [],
    };
  },
  methods: {
    getValue() {},
    ...mapActions([
      "fetchCategory",
      "fetchPatrons",
      "fetchBooks",
      "AddOneBook",
      "UpdateOneBook",
      "RemoveOneBook",
      "AddOneBorrowedBook",
      "AddReturnedBooks",
      "fetchBorrowedBook",
    ]),
    AddBook() {
      this.$v.$touch();

      if (this.BookValidation()) {
        this.errorMessage.forEach((error) => {
          this.$toast.warning(error);
        });
        return (this.errorMessage = []);
      }
      this.AddOneBook(this.BookForm);
      this.$toast.success(this.BookForm.name + " " + "Added Successfully");
      this.HideModal();
    },
    UpdateBook() {
      if (this.BookUpdateValidation()) {
        this.errorMessage.forEach((error) => {
          this.$toast.warning(error);
        });
        return (this.errorMessage = []);
      }

      this.UpdateOneBook(this.BookTobeUpdated);
      this.$toast.success(
        this.BookTobeUpdated.name + " " + "Updated Successfully"
      );
      this.HideModal();
    },
    RemoveBook() {
      this.RemoveOneBook(this.Selected);
      this.HideModal();
    },
    AddBorrowedBook() {
      if (this.BorrowReturnMessage()) {
        this.errorMessage.forEach((error) => {
          this.$toast.warning(error);
        });
        return (this.errorMessage = []);
      }

      this.AddOneBorrowedBook(this.BorrowReturnForm);
      this.$toast.success(this.Selected.name + " " + "Borrowed Succefully");
      this.HideModal();
    },
    ReturnedBook() {
      if (this.BorrowReturnMessage()) {
        this.errorMessage.forEach((error) => {
          this.$toast.warning(error);
        });
        return (this.errorMessage = []);
      }
      this.AddReturnedBooks(this.BorrowReturnForm);
      this.$toast.success(this.Selected.name + " " + "Returned Succefully");
      this.HideModal();
    },
  },
  mounted() {
    this.fetchBooks();
    this.fetchCategory();
    this.fetchPatrons();
    this.fetchBorrowedBook();
  },
  computed: {
    ...mapGetters([
      "LoadingStatus",
      "AllCategories",
      "AllPatrons",
      "AllBorrowedBook",
    ]),
    BookModelFilter: function() {
      var self = this;
      return this.$store.getters.AllBooks.filter(function(Book) {
        return (
          Book.name.toLowerCase().indexOf(self.Search.toLowerCase()) >= 0 ||
          Book.author.toLowerCase().indexOf(self.Search.toLowerCase()) >= 0 ||
          Book.category.category
            .toLowerCase()
            .indexOf(self.Search.toLowerCase()) >= 0
        );
      });
    },
  },
  validations: {
    BookForm: {
      name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
        async uniqueBookName(value) {
          if (value === "") return true;
          const response = await BookBaseURI.index();
          const AlreadtRegistered = response.data.find(
            (Book) => Book.name == value
          );

          if (AlreadtRegistered) {
            return false;
          }
          return true;
        },
      },
      author: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      copies: {
        required,
        minValue: minValue(1),
        numeric,
      },
      category_id: {
        required,
      },
    },
    BookTobeUpdated: {
      name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      author: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      copies: {
        required,
        minValue: minValue(1),
        numeric,
      },
      category_id: {
        required,
      },
    },

    BorrowReturnForm: {
      book_id: {
        required,
      },
      patron_id: {
        required,
      },
      copies: {
        required,
        minValue: minValue(1),
        numeric,
      },
    },
  },
};
</script>
<style scoped>
.BookTable-move {
  transition: all 1s;
}

.BookTable-enter-active,
.BookTable-leave-active {
  transition: all 1s;
}
.BookTable-enter, .BookTable-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.btn-outline-add {
  color: #002c3e !important;
  border-color: #002c3e !important;
  background-color: white !important;
}

.btn-outline-add:hover {
  color: white !important;
  background-color: #002c3e !important;
}
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}
.btn-no-border:focus {
  outline: 0 !important;
}
.secondary {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  box-shadow: none !important;
  color: white;
}
</style>
