<template>
  <div>
    <div class="main-content">
      <div class="container pt-4">
        <div class="row mt-5">
          <div class="col-lg-6 col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <h6 class="text-big">Popular Book Genre</h6>
                <hr />
              </div>
              <div class="card-body">
                <BarChart />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <h6 class="text-big">Popular Book Genre</h6>
                <hr />
              </div>
              <div class="card-body">
                <PieChart />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BarChart from "../components/charts/BarChart";
import PieChart from "../components/charts/PieChart";
export default {
  components: {
    BarChart,
    PieChart,
  },
};
</script>
