<template>
  <div>
    <div class="main-content">
      <div class="container pt-4">
        <div class="row">
          <div class="col-md-12">
            <b-button
              href=""
              class="btn btn-outline-add mt-2"
              v-b-modal.AddPatron
              @click="FormReset()"
              ><i class="fa fa-plus-circle mr-2"></i>Add Patrons</b-button
            >
            <div class="float-right">
              <input
                placeholder="Search Item here"
                type="text"
                class="line-search-bar"
                name="search"
                id="search"
                v-model="Search"
              />

              <i class="fa fa-search fa-lg pl-2" aria-hidden="true"></i>
            </div>
            <table class="table table-hover table-bordered shadow mt-5">
              <thead class="table-active">
                <tr>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Name</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Email Address</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Date Registered</th>
                  <th>Action</th>
                </tr>
              </thead>
              <transition-group
                tag="tbody"
                name="PatronTable"
                v-if="!LoadingStatus"
              >
                <tr v-for="Patron in PatronFormFilter" :key="Patron.id">
                  <td
                    v-html="
                      highlightMatches(
                        [
                          Patron.first_name,
                          Patron.middle_name,
                          Patron.last_name,
                        ].join(' ')
                      )
                    "
                  >
                    {{
                      Patron.first_name +
                        " " +
                        Patron.middle_name +
                        " " +
                        Patron.last_name
                    }}
                  </td>
                  <td v-html="highlightMatches(Patron.email)">
                    {{ Patron.email }}
                  </td>
                  <td>
                    {{ Patron.created_at | moment("dddd, MMMM Do YYYY") }}
                  </td>
                  <td class="text-center">
                    <a href="#"
                      ><i
                        class="fa fa-pencil fa-lg mr-4"
                        aria-hidden="true"
                        @click.prevent="
                          FormReset();
                          PatronTobeUpdated = Patron;
                        "
                        v-b-modal.UpdatePatron
                      ></i>
                    </a>
                    <a
                      href="#"
                      @click.prevent="
                        FormReset();
                        Selected = Patron;
                      "
                      v-b-modal.DeleteModal
                    >
                      <i
                        class="fa fa-trash-o fa-lg mr-4"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </td>
                </tr>
              </transition-group>
            </table>
            <div class="text-center mb-2">
              <b-spinner v-if="LoadingStatus"> </b-spinner>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item mr-1">
                <a class="page-link rounded Page-active" href="#">1</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">6</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">7</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">8</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">9</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">10</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">11</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">12</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">13</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">14</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Add Modal -->
        <b-modal
          id="AddPatron"
          title="Add Patron"
          centered
          modal-header
          ref="modal"
        >
          <form>
            <b-form-group>
              <label for="PatronFirstName" class="req">First Name:</label>
              <b-form-input
                id="PatronFirstName"
                placeholder="Input First Name "
                v-model="PatronForm.first_name"
                @blur="$v.PatronForm.first_name.$touch()"
              ></b-form-input>

              <label for="PatronMiddleName" class="mt-3">Middle Name:</label>
              <b-form-input
                id="PatronMiddleName"
                placeholder="Input Middle Name "
                v-model="PatronForm.middle_name"
                @blur="$v.PatronForm.middle_name.$touch()"
              ></b-form-input>

              <label for="PatronLastName" class="mt-3 req">Last Name:</label>
              <b-form-input
                id="PatronLastName"
                placeholder="Input Last Name"
                v-model="PatronForm.last_name"
                @blur="$v.PatronForm.last_name.$touch()"
              ></b-form-input>

              <label for="PatronEmail" class="mt-3 req">Email Address:</label>

              <b-form-input
                id="PatronEmail"
                placeholder="Input Email Address"
                v-model="PatronForm.email"
                @blur="$v.PatronForm.email.$touch()"
              ></b-form-input>
              <p
                class="errorMessage"
                v-if="!$v.PatronForm.email.uniqueEmail"
                hidden
              >
                Patron Email already taken
              </p>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="AddPatron()"
              >
                <i class="fa fa-plus-circle mr-2"></i>Add Patron
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- UpdatePatron -->
        <b-modal
          id="UpdatePatron"
          title="Update Patron"
          centered
          modal-header
          ref="modal"
        >
          <form>
            <b-form-group>
              <label for="PatronFirstName" class="req">First Name:</label>
              <b-form-input
                id="PatronFirstName"
                placeholder="Input First Name "
                v-model="PatronTobeUpdated.first_name"
              ></b-form-input>

              <label for="PatronMiddleName" class="mt-3">Middle Name:</label>
              <b-form-input
                id="PatronMiddleName"
                placeholder="Input Middle Name "
                v-model="PatronTobeUpdated.middle_name"
              ></b-form-input>

              <label for="PatronLastName" class="mt-3 req">Last Name:</label>
              <b-form-input
                id="PatronLastName"
                placeholder="Input Last Name"
                v-model="PatronTobeUpdated.last_name"
              ></b-form-input>

              <label for="PatronEmail" class="mt-3 req">Email Address:</label>
              <b-form-input
                id="PatronEmail"
                placeholder="Input Email Address"
                v-model="PatronTobeUpdated.email"
              ></b-form-input>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn btn-outline-add mr-2"
                @click="UpdatePatron()"
              >
                <i class="fa fa-plus-circle mr-2"></i>Update Patron
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="HideModal"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal">
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn secondary mr-2"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                block
                @click="DeletePatron(Selected)"
              >
                Yes
              </button>
            </div>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import { formFieldMixin } from "../mixins/formFieldMixin";
import { ValidationMessageMixin } from "../mixins/ValidationMessageMixin";
import { mapGetters, mapActions } from "vuex";
import PatronBaseURI from "../config/Patron";
import {
  required,
  minLength,
  maxLength,
  email,
} from "vuelidate/lib/validators";
export default {
  mixins: [formFieldMixin, ValidationMessageMixin],
  data() {
    return {
      PatronForm: {
        last_name: "",
        first_name: "",
        middle_name: "",
        email: "",
      },
      PatronTobeUpdated: {
        last_name: "",
        first_name: "",
        middle_name: "",
        email: "",
      },
      errorMessage: [],
    };
  },
  methods: {
    ...mapActions([
      "fetchPatrons",
      "AddOnePatron",
      "UpdateOnePatron",
      "RemoveOnePatron",
    ]),
    AddPatron() {
      this.$v.$touch();

      if (this.PatronValidation()) {
        this.errorMessage.forEach((error) => {
          this.$toast.warning(error);
        });
        return (this.errorMessage = []);
      }
      this.AddOnePatron(this.PatronForm);
      this.$toast.success(
        this.PatronForm.first_name + " " + "Added Successfully"
      );
      this.HideModal();
    },

    UpdatePatron() {
      if (this.PatronForUpdateValidation()) {
        this.errorMessage.forEach((error) => {
          this.$toast.warning(error);
        });
        return (this.errorMessage = []);
      }

      this.UpdateOnePatron(this.PatronTobeUpdated);
      this.$toast.success(
        this.PatronTobeUpdated.first_name + " " + "Updated Successfully"
      );
      this.HideModal();
    },
    DeletePatron(Patron) {
      this.RemoveOnePatron(Patron);
      this.HideModal();
    },
  },
  mounted() {
    this.fetchPatrons();
  },
  computed: {
    ...mapGetters(["LoadingStatus", "AllPatrons"]),
    PatronFormFilter: function() {
      var self = this;
      return this.AllPatrons.filter(function(Patron) {
        return (
          Patron.first_name.toLowerCase().indexOf(self.Search.toLowerCase()) >=
            0 ||
          Patron.last_name.toLowerCase().indexOf(self.Search.toLowerCase()) >=
            0 ||
          Patron.middle_name.toLowerCase().indexOf(self.Search.toLowerCase()) >=
            0 ||
          Patron.email.toLowerCase().indexOf(self.Search.toLowerCase()) >= 0
        );
      });
    },
  },
  validations: {
    PatronForm: {
      first_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      middle_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      last_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      email: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(255),
        email,
        async uniqueEmail(value) {
          const response = await PatronBaseURI.index();
          const AlreadtRegistered = response.data.find(
            (Patron) => Patron.email == value
          );

          if (AlreadtRegistered) {
            return false;
          }
          return true;
        },
      },
    },
    PatronTobeUpdated: {
      first_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      middle_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      last_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(255),
      },
      email: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(255),
        email,
      },
    },
  },
};
</script>
<style scoped>
.PatronTable-move {
  transition: all 1s;
}

.PatronTable-enter-active,
.PatronTable-leave-active {
  transition: all 1s;
}
.PatronTable-enter, .PatronTable-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.btn-outline-add {
  color: #002c3e !important;
  border-color: #002c3e !important;
  background-color: white !important;
}

.btn-outline-add:hover {
  color: white !important;
  background-color: #002c3e !important;
}
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}
.btn-no-border:focus {
  outline: 0 !important;
}
.secondary {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  box-shadow: none !important;
  color: white;
}
</style>
